services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gcd_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - sqlite_data:/app/data


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gcd_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  sqlite_data: